:root {
	--text-color: #EEEEEE;
	--bg-color: #333333;
	font-family: monospace;
}

body {
	max-width: 95ch;
	margin: 0;
	padding: 1.3rem 1ch;
	font-size: 1rem;
	line-height: 1.3rem;
	color: var(--text-color);
	background-color: var(--bg-color);
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 499px) {
	header h1 {
		font-size: 200%;
		font-weight: bold;
		line-height: normal;
		margin-block-end: 0;
	}

	header p {
		margin-block-start: 0;
	}

	header {
		background: -webkit-linear-gradient(122deg, #FFD800 0%, #00E9BB 50%, #FF5EFF 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

@media only screen and (min-width: 500px) {
	header {
		position: relative;
		width: 57ch;
		height: 7.8rem;
		margin: 1.2rem 0 2.8rem 0;
		padding: 0;
		line-height: 1.3rem;
	}

	header h1 {
		position: absolute;
		left: 40ch;
		top: 5.2rem;
		margin: 0;
		padding: 0;
	}

	header p {
		position: absolute;
		left: 3ch;
		top: 5.2rem;
		margin: 0;
		padding: 0;
	}

	header:after {
		content: ' _      ___      __                       __     __     \00000a| | /| / (_)__  / /____ ______ _____  ___/ /__ _/ /____ \00000a| |/ |/ / / _ \\/ __/ -_) __/ // / _ \\/ _  / _ `/ __/ -_)\00000a|__/|__/_/_//_/\\__/\\__/_/  \\_,_/ .__/\\_,_/\\_,_/\\__/\\__/ \00000a                               /_/                       ';
		white-space: pre;
		position: absolute;
		left: 0;
		top: 0;
		background: -webkit-linear-gradient(122deg, #FFD800 0%, #00E9BB 50%, #FF5EFF 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	p {
		padding: 0 8ch;
	}	
}

h1,h2,h3,p {
	margin-block-start: 1.3rem;
	margin-block-end: 1.3rem;
	font-weight: normal;
	font-size: 1rem;
}

h2 {
	position: relative;
	display: inline-block;
}

h2:after {
	content: '===============================================';
	display: block;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
}

a {
	background-color: var(--text-color);
	color: var(--bg-color);
	text-decoration: none;
}

pre {
	overflow: auto;
}